<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOs</title>
    <link href="/styles/new.css" rel="stylesheet">
</head>
<body>
   <form action="/edit/<%= task.id %>" method="POST">
  <div>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" value="<%=task.title%>">
  </div>

  <div>
    <label for="description">Description (optional):</label>
    <textarea id="description" name="description" rows="3" value="<%= task.description %>"></textarea>
  </div>

  <!-- <div>
    <label for="time">Time<span style="color:red">*</span>:</label>
    <input type="time" id="time" name="time" value="">
  </div> -->

  <button type="submit">edit Task</button>
</form>

</body>
</html>