<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/index.css" rel="stylesheet">
</head>
<body>
    <header class="header">
     <div>
        <h1 class="logo">TODOs</h1>
    </div>
    <div class="creating_title"><h2>Today</h2>
        <a href="/new"><img src="/img/add.png" alt="create"></a>
    </div>
    <div class="header_main">
        <div class="header_task"><input type="checkbox" name="task" value="true"><h3>play cricket</h3></div>
        
       <div class="header_task"><input type="checkbox" name="task" value="true"><h3>play cricket</h3></div>
    </div>
</header>
<div class="main"></div>
</body>
</html>